@model IEnumerable<SKP.Net.Web.Areas.Admin.Models.PageData.PageDataModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div id="table-content">
    <table>
        <thead>
            <tr>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PageHead)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RedirectUrl)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Active)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PageType)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr onclick="show('@item.ImageUrl')">
                    <td><input type="checkbox"></td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PageHead)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RedirectUrl)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Active)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PageType)
                    </td>
                    @*<td>
                            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                        </td>*@
                </tr>

            }
        </tbody>
    </table>
</div>
<input type="image" src="" id="previewImage" width="250" height="250" style="visibility:hidden">
@section Scripts
{
    <script>

        function show(data) {
            var img = document.getElementById("previewImage");
            img.style = "visibility:visible";
            img.src = data;
            return false;

        }
        $(document).ready(function () {
        });
    </script>
}
