@model IEnumerable<SKP.Net.Web.Areas.Admin.Models.Messages.EmailTemplateModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div id="content">
    <div id="table-content">
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>
                        @Html.DisplayNameFor(model => model.TemplateType)
                    </th>
                    @*<th>
                            @Html.DisplayNameFor(model => model.Template)
                        </th>*@
                    <th>
                        @Html.DisplayNameFor(model => model.Active)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td><input type="checkbox"></td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TemplateType)
                        </td>
                        @*<td>
                                @Html.DisplayFor(modelItem => item.Template)
                            </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.Active)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>